<header class="bg-gray-800 p-4">
    <nav class="container mx-auto flex justify-between items-center">
        <ul class="flex space-x-4">
            <li><a href="/" class="text-white hover:text-gray-300">Home</a></li>
            {{#if logged_in}}
            <li><a href="/dashboard" class="text-white hover:text-gray-300">Dashboard</a></li>
            <li><a href="#" id="logout" class="text-white hover:text-gray-300">Logout</a></li>
            {{else}}
            <li><a href="/login" class="text-white hover:text-gray-300">Login</a></li>
            <li><a href="/signup" class="text-white hover:text-gray-300">Sign Up</a></li>
            {{/if}}
        </ul>
    </nav>
</header>