<main class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-4">Dashboard</h1>

    <!-- New Post Form -->
    <section class="bg-gray-800 p-6 rounded-lg shadow-lg mb-6">
        <h2 class="text-2xl font-bold text-white mb-4">Create New Post</h2>
        <form id="new-post-form" class="space-y-4">
            <div>
                <label for="title" class="block text-sm font-medium text-white">Title</label>
                <input type="text" name="title" id="title" required class="mt-1 p-2 w-full rounded-md bg-gray-900 text-white">
            </div>
            <div>
                <label for="content" class="block text-sm font-medium text-white">Content</label>
                <textarea name="content" id="content" required class="mt-1 p-2 w-full rounded-md bg-gray-900 text-white"></textarea>
            </div>
            <button type="submit" class="p-2 bg-blue-600 rounded-md text-white hover:bg-blue-700">Create</button>
        </form>
    </section>

    <!-- Existing Posts -->
    <div class="posts list-group space-y-4">
        {{#each posts}}
        <a class="list-item flex-row justify-space-between bg-gray-700 p-4 rounded-lg shadow-lg hover:bg-gray-600" href="/dashboard/edit/{{id}}">
            <span class="text-white">{{title}}</span>
            <span class="text-gray-400">{{formatDates createdAt}}</span>
        </a>
        {{/each}}
    </div>

    <!-- Edit Post Modal -->
    <div id="edit-post-modal" class="hidden fixed z-50 inset-0 overflow-y-auto">
        <div class="flex items-center justify-center min-h-screen">
            <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-1/2">
                <h3 class="text-xl font-semibold text-white mb-4">Edit Post</h3>
                <form id="edit-post-form">
                    <input type="hidden" name="post-id">
                    <label class="form-label text-white" for="post-title">Title</label>
                    <input type="text" name="post-title" class="form-input w-full p-2 rounded-md bg-gray-900 text-white mt-2 mb-4" required>
                    <label class="form-label text-white" for="post-content">Content</label>
                    <textarea name="post-content" class="form-input w-full p-2 rounded-md bg-gray-900 text-white mt-2 mb-4" required></textarea>
                    <button type="submit" class="btn bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700">Save</button>
                    <button type="button" id="cancel-edit-post-btn" class="btn bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-700">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="/js/postThoughts.js"></script>
<script src="/js/editThoughts.js"></script>
<script src="/js/logout.js"></script>
